@font-face {
  Aileron font-family 'Aileron' {
    src: url("../font/Aileron/aileron-ultralight-webfont.eot");
    src: url("../font/Aileron/aileron-ultralight-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-ultralight-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-ultralight-webfont.woff") format('woff'), url("../font/Aileron/aileron-ultralight-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-ultralight-webfont.svg#aileronultralight") format('svg');
    font-weight: 100;
    font-style: normal;
  }
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-ultralightitalic-webfont.eot");
  src: url("../font/Aileron/aileron-ultralightitalic-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-ultralightitalic-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-ultralightitalic-webfont.woff") format('woff'), url("../font/Aileron/aileron-ultralightitalic-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-ultralightitalic-webfont.svg#aileronultralight_italic") format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-thin-webfont.eot");
  src: url("../font/Aileron/aileron-thin-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-thin-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-thin-webfont.woff") format('woff'), url("../font/Aileron/aileron-thin-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-thin-webfont.svg#aileronthin") format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-thinitalic-webfont.eot");
  src: url("../font/Aileron/aileron-thinitalic-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-thinitalic-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-thinitalic-webfont.woff") format('woff'), url("../font/Aileron/aileron-thinitalic-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-thinitalic-webfont.svg#aileronthin_italic") format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-semibold-webfont.eot");
  src: url("../font/Aileron/aileron-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-semibold-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-semibold-webfont.woff") format('woff'), url("../font/Aileron/aileron-semibold-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-semibold-webfont.svg#aileronsemibold") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-regular-webfont.eot");
  src: url("../font/Aileron/aileron-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-regular-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-regular-webfont.woff") format('woff'), url("../font/Aileron/aileron-regular-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-regular-webfont.svg#aileronregular") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-italic-webfont.eot");
  src: url("../font/Aileron/aileron-italic-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-italic-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-italic-webfont.woff") format('woff'), url("../font/Aileron/aileron-italic-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-italic-webfont.svg#aileronitalic") format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-light-webfont.eot");
  src: url("../font/Aileron/aileron-light-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-light-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-light-webfont.woff") format('woff'), url("../font/Aileron/aileron-light-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-light-webfont.svg#aileronlight") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-lightitalic-webfont.eot");
  src: url("../font/Aileron/aileron-lightitalic-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-lightitalic-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-lightitalic-webfont.woff") format('woff'), url("../font/Aileron/aileron-lightitalic-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-lightitalic-webfont.svg#aileronlight_italic") format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-bold-webfont.eot");
  src: url("../font/Aileron/aileron-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-bold-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-bold-webfont.woff") format('woff'), url("../font/Aileron/aileron-bold-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-bold-webfont.svg#aileronbold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-heavy-webfont.eot");
  src: url("../font/Aileron/aileron-heavy-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-heavy-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-heavy-webfont.woff") format('woff'), url("../font/Aileron/aileron-heavy-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-heavy-webfont.svg#aileronheavy") format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url("../font/Aileron/aileron-black-webfont.eot");
  src: url("../font/Aileron/aileron-black-webfont.eot?#iefix") format('embedded-opentype'), url("../font/Aileron/aileron-black-webfont.woff2") format('woff2'), url("../font/Aileron/aileron-black-webfont.woff") format('woff'), url("../font/Aileron/aileron-black-webfont.ttf") format('truetype'), url("../font/Aileron/aileron-black-webfont.svg#aileronblack") format('svg');
  font-weight: 800;
  font-style: normal;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.irbefore {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfixbefore,
.clearfixafter {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.flag {
  display: table;
  width: 100%;
}
.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top {
  vertical-align: top;
}
.flag--bottom {
  vertical-align: bottom;
}
.flag__image {
  padding-right: 10px;
img
  display: block;
  max-width: none;
}
.flag--rev {
  padding-right: 0;
  padding-left: 10px;
}
.flag__body {
  width: 100%;
}
/* HTML5 Boilerplate v4.3.0 | MIT License | http//h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  .ir a:after a[href^="javascript"]after,
  .ir a:after a[href^="#"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $black;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $black;
}
.halfCircle-up {
  height: 20px;
  width: 40px;
  -webkit-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  background: $black;
}
.halfCircle-down {
  height: 20px;
  width: 40px;
  -webkit-border-radius: 0 0 40px 40px;
  border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  background: $black;
}
.halfCircle-right {
  height: 40px;
  width: 20px;
  -webkit-border-radius: 0 40px 40px 0;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  background: $black;
}
.halfCircle-left {
  height: 40px;
  width: 20px;
  -webkit-border-radius: 40px 0 0 40px;
  border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  background: $black;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #c76035;
  background: #fdf7f1;
  font-family: 'Aileron', sans-serif;
}
html .wrapper,
body .wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 640px) {
  html .wrapper,
  body .wrapper {
    width: auto;
  }
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.soon {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}
.soon header {
  width: 100%;
  padding: 0 0 20px 0;
  background: #c76035;
  border-bottom: 5px solid #ffa784;
}
.soon header img {
  width: 50%;
  max-width: 150px;
  margin: 20px auto 0 auto;
  display: blok;
}
.soon .center {
  width: 100%;
  display: block;
}
.soon h1 {
  font-size: 1em;
  color: #fdf7f1;
  letter-spacing: 0.4em;
  font-weight: 500;
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 480px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .soon h1 {
    font-size: 2.34em;
  }
}
.soon h2 {
  font-size: 3em;
  font-weight: 100;
  margin: 5vh auto 0 auto;
}
.soon p {
  font-weight: 100;
  font-size: 1.1em;
  text-align: center;
  margin: 20px auto 20px auto;
  width: 80%;
  max-width: 480px;
}
@media screen and (min-width: 640px) {
  .soon p {
    width: 48%;
    text-align: justify;
  }
}
.soon .question {
  text-align: center;
  font-style: italic;
}
.soon .button {
  padding: 10px 12px 10px 12px;
  border: 2px solid #c76035;
  text-align: center;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.soon .button:hover {
  background: #c76035;
  color: #fdf7f1;
}
.soon .social {
  margin: 50px auto 50px auto;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
}
.soon .social li {
  display: inline-block;
  font-size: 1.2em;
  margin: 0 10px 0 10px;
  overflow: hidden;
}
.soon .social li a {
  color: #c76035;
  display: inline-block;
}
