footer
    width 100%
    display block
    text-align center
    .social
        margin 50px auto 50px auto
        padding 0
        list-style none
        clear both
        overflow hidden
        li
            display inline-block
            font-size 1.2em
            margin 0 10px 0 10px
            overflow hidden
            a
                color $color2
                display inline-block
.social
    padding 0
    list-style none
    overflow hidden
    li
        display inline-block
        font-size 1.2em
        margin 0 5px 0 5px
        overflow hidden
        a
            color $color1
            display inline-block
