.grade
    width 100%
    display block
    overflow hidden
    .stars
    .emoji
        display block
        float left
    .stars
        margin 0 15px 0 0
        li
            display inline-block
    img
        width 1.5em !important
        height 1.5em !important
    svg
        width 25px
        height 25px
    .filled
        .star__in
            fill $color2
            stroke none
        .star__out
            fill $color2
            stroke none
    .not__filled
        .star__in
            fill none
            stroke none
        .star__out
            fill none
            stroke $color2
