header
    width 100%
    padding 10px 0 10px 0
    margin 0 0 20px 0
    background $color2
    border-bottom 2px solid #ffa784
    overflow hidden
    height 65px
    box-sizing border-box
    .wrapper
        box-sizing border-box
        height 100%
        padding 0 1% 0 1%
    .logo
        display block
        float left
        height 100%
    img
        height 100%
        display block
    nav
        width 50%
        display block
        float right
        height 100%
        ul
            padding 0
            margin 0
            height 100%
            list-style none
            text-align right
            li
                display inline-block
                height 100%
                line-height 2.5em
                white-space nowrap
                a
                    color $color1
                    display inline-block
                    text-decoration none
                    text-align center
                    vertical-align center
