header
    width 100%
    padding 10px 0 10px 0
    margin 0 0 20px 0
    background $color2
    border-bottom 2px solid #ffa784
    overflow hidden
    height 65px
    box-sizing border-box
    position relative
    .wrapper
        box-sizing border-box
        height 100%
        padding 0 1% 0 1%
    .logo
        display block
        float left
        height 100%
    img
        height 100%
        display block
    nav
    .search
        display block
        float right
        height 100%
    .search
        width 50%
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        input
            width 100%
            display block
            box-sizing border-box
            padding 10px
            background $white
            border 1px solid $color1
            border-radius 5px
            border none
            box-shadow none
            color $color2
            font-size 1.1em
            &::-webkit-input-placeholder
                color $color3
            &:-moz-placeholder
                color $color3
            &::-moz-placeholder
                color $color3
            &:-ms-input-placeholder
                color $color3
            &:focus
                outline none
    nav
        width 20%
        ul
            padding 0
            margin 0
            height 100%
            list-style none
            text-align right
            li
                display inline-block
                height 100%
                line-height 2.5em
                white-space nowrap
                a
                    color $color1
                    display inline-block
                    text-decoration none
                    text-align center
                    vertical-align center
