@import 'nib'
@import "lib/*"

global-reset()

html
    background $color1
body
    background transparent
html
body
    margin 0
    padding 0
    color $color2
    font-family $font
    .wrapper
        width 90%
        margin auto
        position relative
        overflow hidden

@import 'header'
@import 'footer'
@import 'particles'
@import 'loading'
@import 'content'
@import 'list'
@import 'grade'
@import 'row'
@import 'single'
@import 'about'
